.notification {
    color: midnightblue;
    text-decoration: none;
    padding: 1px 3px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    font-size: 24px;
  }
  
  
  .notification .badge {
    position: absolute;
    top: 0px;
    right: -8px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 50%;
  }