<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Details</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr style="cursor:pointer" [ngClass]="{'table-primary': selectedTask.id==task.id}"  *ngFor="let task of taskListSrvc.tasksList track by id" (click)="selectTask(task)">
                    <td>
                        <span *ngIf="task.isOverDue()">
                            <strong>!</strong>
                        </span>
                        {{task.title}}
                    </td>
                    <td>{{task.details}}</td>
                    <td>{{task.dueDate | date:"MMMM dd" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div   *ngIf="selectedTask.id!=undefined"  >
            <app-task-view [task]="selectedTask"></app-task-view>
        </div>
        
    </div>
</div>